
<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
<h5><%= dose.description %> - <%= dose.ingredient.name %></h5>
<p><%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<% end %>

<h5>Add a Dose:</h5>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: @ingredients %>
  <%= f.button :submit %>

  <!-- ##### OR alternate for editing button text ##### -->
  <%#= f.button :submit,  value: "update" %>
<% end %>

<%= link_to "main menu", cocktails_path %>
